html, body {
	height: 100%;
}

body {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;
	background-color: #0b0a15;
	font-family: 'Exo 2', sans-serif;
	color: #7c7fc0;
	margin: 0;
	padding: 0;
}

/* Top bar */

header {
	width: 100%;
	align-self: flex-start;
}

.banner {
	color: #f2f2f2;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	background-color: #30286f;
	width: 100%;
	border-bottom: 1px solid #101010;
	align-self: flex-start;
}

.banner a:link    { color: #209781; text-decoration: none; transition: all .3s ease-in-out; }
.banner a:visited { color: #209781; }
.banner a:active  { color: #209781; }
.banner a:hover   { color: #E9B64A; }
.banner h1, h2    { font-weight: 400; }

.banner > h1 {
	padding: 0 0 0 50px;
	font-size: 24px;
}

.banner > h2 {
	font-size: 20px;
	padding: 0 50px 0 0;
}

/* Main content */

main {
	width: 100%;
	align-self: stretch;
}

article {
	display: flex;
	justify-content: center;
	align-items: center;

}

.board {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	text-align: center;
}

/* Game - menu - choose level */
.board .board-header {
	padding: 0;
	font-size: 40px;
	margin: 0 0 30px 0;
}

.board .btn-level {
	font-size: 24px;
	border: 2px solid #7c7fc0;
	background-color: #0b0a15;
	width: 200px;
	padding: 20px 0;
	margin: 10px;
	cursor: pointer;
	transition: all .3s ease-in-out;
}

.board .btn-level:last-child {
	margin-bottom: 100px;
}

.board .btn-level:hover {
	border-color: #209781;
	color: #209781;
}

/* Gameplay - cards */

.board .field {
	animation: fadein .3s;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

}

.field .card {
	width: 110px;
	height: 110px;
	padding: 0;
	margin: 3px;
	background: url("../img/card.png") no-repeat;
	background-size: cover;
	cursor: pointer;
	filter: brightness(80%);
	transition: all .3s ease-in-out;
}

.field .card:hover {
	filter: brightness(100%);
}

.board .score {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.score .time, .turns {
	margin: 0;
	padding: 0;
	font-size: 24px;
}

.easy {
	width: 464px;
}
.medium {
	width: 696px;
}

.hard {
	width: 812px;
}

/* End of game - score */

.board .score-header {
	padding-bottom: 20px;
	font-size: 50px;
}

.board .score-new {
	color: #E9B64A;
	font-size: 46px;
}

.board .score-best {
	padding-top: 10px;
	font-size: 32px;
}

.btn {
	color: #209781;
	font-size: 50px;
	transition: all .3s ease-in-out;
	cursor: pointer;
	margin: 35px 0 80px 0;
}

.btn:hover {
	color: #E9B64A;

}

/* footer */

footer {
	align-self: flex-end;
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: #070707;
	border-top: 1px solid #020202;
	padding: 15px 0;
}

footer a:link {
	display: block;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	color: #454545;
	transition: all .3s ease-in-out
}

footer a:visited { color: #454545; }
footer a:active { color: #454545; }
footer a:hover { color: #9c9b39; }

/* special classes */

.field .hidden {
	cursor: default;
	opacity: 0;
}

.field .highlight {
	border-color: #e9b64a;
	cursor: default;
	filter:brightness(100%);
}

.field .rotateCard {
	transform: scaleX(-1) rotateY(180deg);
	transition: all .3s ease-in-out;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}